
.flex-container {
  margin:5em;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  
}

.custom-card{
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
}

mat-card-title {
  text-align: center;
}

.moves-row {
  padding-top: 1em;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  
}

.player-name {
  text-align: center;
}

.mat-fab {
  margin-right: 1em;
}

.next-move {
  margin-top:1em;
}