<div class="flex-container">
    <h3>The Game</h3>
    <mat-card class="custom-card">
      <mat-card-title>Insert players name</mat-card-title>
    <form class="custom-form">
      <mat-form-field class="form-width">
        <input matInput placeholder="Player One" value="" class="change-color-label" [formControl]="name" >
      </mat-form-field>
      <mat-form-field class="form-width">
        <input matInput placeholder="Player Two" value="" [formControl]="name">
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="showSuccess()">Play!</button>
  </mat-card>
</div>