<div class="flex-container">
    <h1>Stone, paper or scissors!</h1>
    <h3>The Game</h3>
    <mat-card class="custom-card">
      <mat-card-title>Insert players name</mat-card-title>
    <form class="custom-form">
      <mat-form-field class="form-width">
        <input matInput placeholder="Player One" value="" class="change-color-label" >
      </mat-form-field>
      <mat-form-field class="form-width">
        <input matInput placeholder="Player Two" value="">
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary">Start</button>
  </mat-card>
</div>